<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANPR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" ></script>
</head>
<body>
    <section id="blog" class="blog">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-6 posts-list">
  
            <div class="col-xl-6 col-lg-6">
              <article>
  
                <div class="post-img">
                  <img src="assets/img/npr1.jpg" alt="" class="img-fluid">
                </div>
  
                <p class="post-category">How does Automatic Number Plate Recognition (ANPR) Work?</p>
  
                <h2 class="title">
                  <a href="blog-details.html">Your Parking or general Mobility Experience in day to day life situations is Far from Ideal. We foresee it would only get Worse with the Shrinking Parking Spaces & Ever Growing Number of Vehicles.
                  </a>
                </h2>
  
                <div class="d-flex align-items-center">
                 
                  <div class="post-meta">
                    <p class="post-author">Example:</p>
                    <p >
                      Smart Cities, Governments, Corporates, Commercial Complexes(Malls, Hotels, etc.),
                    </p>
                  </div>
                </div>
  
              </article>
            </div><!-- End post list item -->
  
            <div class="col-xl-6 col-lg-6 bg-light">
              <h2 class="text-center">Ready to get started?</h2>

              <div class="col-md-6">
                <input type="text" name="name"  placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
                

                <button type="submit" class="bg-danger">Send Message</button>
              </div>

              
            </div><!-- End post list item -->
            <div class="row gy-4">
              <h2 class="text-center">Ready to get started?</h2>

              <div class="col-md-6">
                <input type="text" name="name"  placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
                

                <button type="submit">Send Message</button>
              </div>

            </div>



            
  
      
</body>
</html>