<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Automatic Number Plate Recognition for Parking Access​</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Append
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header sticky-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>ANPR</h1>
        <span></span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html#hero">Home</a></li>
          <li><a href="index.html#about">Solution</a></li>
          <li><a href="index.html#services">Use Cases</a></li>
          <li><a href="index.html#portfolio">Contact Us</a></li>
         

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <a class="btn-getstarted" href="index.html#about">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Innovative Parking Guidance Solutions ​</h1>
              <p class="mb-0">Parking Guidance System is aimed at providing highly efficient Parking Access at big parking lots/spaces. Our intelligent parking guidance technology is designed to minimise parking stress with smart directions throughout the parking process.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Guidance</a></li>
            <li class="current">IPGS</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="assets/img/npr1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">How does Parking Guidance Systems Work?</p>

              <h2 class="title">
                <a href="blog-details.html">Parking Guidance System is a technology where the system helps drivers find parking spaces easily and efficiently. Sometimes coined as a part of the green initiative, a smart parking guidance infrastructure will help save a lot of fuel or energy, otherwise wasted in finding empty spots.
                </a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author">Example:</p>
                  <p >
                    PARK360's innovative parking guidance system offers real-time parking information
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="assets/img/npr2.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Real-time Guidance System</p>

              <h2 class="title">
                <a href="blog-details.html"> Huge parking lots are like a maze and without a proper guidance system at place, the drivers often drive endlessly trying to find a empty slot To help counter this scenario, an smart and innovative Parking Guidance System is a must. With real-time information and simple directions using LED lights.</a>
              </h2>

              <div class="d-flex align-items-center">               
                <div class="post-meta">
                  <p class="post-author">Example:</p>
                  <p>
                    With real-time information and simple directions using LED lights, drivers
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="assets/img/npr3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Sensor-based Vehicle Detection Technology</p>

              <h2 class="title">
                <a href="blog-details.html">With sensors installed at every available parking slot across the space, our system automatically detects whether a vehicle is parked at a given slot or not. Based on the data, the parking lot map</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">Example</p>
                  <p class="post-date">
                    Our parking guidance system is designed to map data in real-time based on available parking slots,
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <h2 class="text-center">Add-ons for ANPR parking system</h2>
          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="assets/img/npr4.jpg" alt="" class="img-fluid">
              </div>
              

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html">Boom Barrier System</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="assets/img/npr5.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html">QR/Card Access Control</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="assets/img/npr6.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html">Pay & Park Solution</a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End blog posts list -->

        <div class="pagination d-flex justify-content-center">
          <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End pagination -->

      </div>

    </section><!-- End Blog Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
           <h3> HEADQUARTERS </h3>
          </a>
          <p>myCiti 360 Technology Services Private Limited</p>
          <div class="social-links d-flex mt-4">
            <a href="https://twitter.com/login?lang=en"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
            <a href="https://in.linkedin.com/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Solution</a></li>
            <li><a href="#">Uses Cases</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">ANPR Camera Based Solution</a></li>
            <li><a href="#">Pay & Park Solution</a></li>
            <li><a href="#">Smart QR Based Solution</a></li>
            <li><a href="#">UHF & RFID Card Based Solution</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Find Us</h4>
          <div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=jspm%20ntc%20narhe%20capmpus&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 250px; height: 250px;"></iframe></div></div>
        </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">© 2021 - park360.io</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
