{% extends 'base.html' %}
{% load static %}
{% block 'body' %}

  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Transform Your Commercial Parking Experience With Cutting-Edge Solutions ​</h1>
              <p class="mb-0">
                At PARK360, we believe in delivering a comprehensive solution that goes beyond the traditional parking management systems. Our aim is to enhance the overall parking experience, streamline operations, and optimize revenue generation for your commercial building or property.

                    We understand the importance of seamless integration with your existing infrastructure, and PARK360 is designed to effortlessly integrate with various access control systems and payment gateways. Our flexible and scalable platform can be customized to suit your specific requirements, ensuring a hassle-free implementation process.

                        In addition to optimizing parking space, PARK360 also provides real-time monitoring and tracking capabilities. Through our intuitive dashboard, you can keep a close eye on the occupancy status of each parking spot. This information allows you to make informed decisions regarding parking allocation, ensuring that no spot goes to waste.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% static 'index.html' %}">User Cases</a></li>
            <li class="current">CPMs</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
            <h2 class="text-center">Benefits of PARK360 Commercial Parking Management</h2>

          <div class="col-xl-4 col-lg-6">
            <article>
               

              <div class="post-img">
                
                <center><img src="{% static 'assets/img/tear.jpg' %}" alt="" class="img-fluid rounded-circle"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">100% Space Utilization
                </a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    the parking spaces are not optimally utilized by methods such as fixed
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img"> 
                <center><img src="{% static 'assets/img/clock.jpg' %}" alt="" class="img-fluid rounded-circle" style="height: 200px;"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center" >
                <a href="blog-details.html" >Streamlined Operations</a>
              </h2>

              <div class="d-flex align-items-center">               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    the parking spaces are not optimally utilized by methods such as fixed
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/gitter.jpg' %}" alt="" class="img-fluid rounded-circle"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Revenue Generation</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    the parking spaces are not optimally utilized by methods such as fixed
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <h2 class="text-center">360 Degrees Parking Solutions For</h2>
          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/automatic.jpg' %}" alt="" class="img-fluid rounded-circle"></center>
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Building Administrators</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">PARK360 can provide fully automated parking solutions that can run without any manpower for any of the solution areas. Depending on your requirements this works great where the intent is to have an unattended system in place without any staff reliance.</p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/automatic1.jpg' %}" alt="" class="img-fluid rounded-circle"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Offices & Shops</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">PARK360 understand in some cases having a staff or attended parking solution is essential due to various factors like cost, physical constraint, nature of business, etc. Our attended solutions are made with utmost care so that it's very easy to operate by staff, takes minimal time, and provides detailed analytical reports.</p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          
       
          <h2 class="text-center">Why Choose PARK360?</h2>
          <p class="text-center">An intelligent Commercial Parking Management System offers a range of benefits for both owners and tenants of commercial buildings or properties.</p>
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                   
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">
                        Benefits for Administrators</a>
                    </h2>
      
                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p>
                            
                            Enhanced Space Utilization.</p>
                            
                           <p> Optimal Space Utilization</p>
                            
                          <p>  
                            Improved Traffic Flow</p>
                            
                            <p>Smart Access Control and Improved Security                   
                           </p>
                           <p>Real-time Monitoring and Analytics</p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                  
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Benefits for Owners & Tenants</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p>
                            Convenient Parking Experience</p>
                        <p>
                            Time and Cost Savings</p>
                        <p>
                           
                            Improved Accessibility.</p>
                        <p>
                            Enhanced Security</p>
                            <p>User Insights and Feedback</p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <section id="blog" class="blog">

                  <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <h2 class="text-center">Features of PARK360 Commercial Parking Management</h2>
            
                    <div class="row gy-3 posts-list">
            
                      <div class="col-xl-3 col-lg-6">
                      
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam1.jpg' %}" alt="" class="img-fluid rounded"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Boom Barrier System
                            </a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                           
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p >
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam2.jpg' %}" alt="" class="img-fluid rounded"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Smart Access Control</a>
                          </h2>
            
                          <div class="d-flex align-items-center">               
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p>
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam3.jpg' %}" alt="" class="img-fluid rounded"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Pay & Park System</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam4.jpg' %}" alt="" class="img-fluid rounded"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html"> ANPR Camera Monitoring</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
               
        <div class="pagination d-flex justify-content-center">
          <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div><!-- End pagination -->

      </div>

    </section><!-- End Blog Section -->
                
         
                <div class="col-xl-6 col-lg-6 bg-primary">
                  <article>
      
                   
      
                    <p class="post-category"></p>
      
                    <h2 class="title ">
                      <a href="blog-details.html">
                       <h1 class="text-light">Organized Commercial Parking Solutions</h1></a>
                    </h2>
      
                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author text-warning">PARK360 offers advanced parking management systems tailored to meet the needs of commercial properties. Our Parking Management System allows you to take control of your commercial parking effortlessly. From optimizing space utilization to enhancing security measures, we've got you covered.</p>
                        <img src="{% static 'assets/img/plan-1.jpg' %}">
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                  
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> For FREE Demo & Enquiry</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        
                        <p class="post-category">Kindly fill the form below for a Guaranteed Response within 24 Hrs!</p>
                        <label>Name:</label><br>
                        <input type="text" name="Name" placeholder="Enter Name*"><br>
                        <label>Your Email:</label><br>
                        <input type="email" name="email" placeholder="Enter Email*"><br>
                        <label>Your Contact</label><br>
                        <input type="number" name="Contact" placeholder="Enter Contact*"><br>
                        <label>Write Your Massage</label><br>
                       <textarea type="text" placeholder="message"></textarea><br>
                       <button type="submit" class="btn btn-danger">Send Message</button>
                      </div>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                
                
  </main>

  {% endblock 'body' %}