{% extends 'base.html' %}
{% load static %}
{% block 'body' %}

  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Parking Management Solutions For Corporate & Business Parks ​</h1>
              <p class="mb-0">Discover PARK360's Tailored Corporate Parking Solutions, designed to meet the unique needs of modern businesses. With our advanced features and technologies, we provide a seamless parking experience for your employees and visitors.

                With our intelligent parking management system, you'll have real-time insights into parking availability, ensuring optimal space utilization. Our robust security features integrated with your CCTV surveillance and access control systems builds a safe environment for your workforce and their vehicles.
                
                Trust PARK360 to tailor a corporate parking solution that perfectly aligns with your business requirements, enabling smooth operations and maximizing productivity.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">User Cases</a></li>
            <li class="current">CPMM</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
            <h2 class="text-center">Why PARK360 Corporate Parking Systems?</h2>

          <div class="col-xl-4 col-lg-6">
            <article>
               

              <div class="post-img">
                
                <center><img src="{% static 'assets/img/tear.jpg' %}" alt="" class="img-fluid rounded-circle"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Space Utility
                </a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    the parking spaces are not optimally utilized by methods such as fixed
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/clock.jpg' %}" alt="" class="img-fluid rounded-circle" style="height: 200px;"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center" >
                <a href="blog-details.html" >Time Saving</a>
              </h2>

              <div class="d-flex align-items-center">               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    paperless entry and exit ensure a seamless movement of vehicles 
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/gitter.jpg' %}" alt="" class="img-fluid rounded-circle"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">100% Regulated</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    PARK360's ANPR technology with RFID/UHF or QR-based Entry/Exit system
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <h2 class="text-center">360 Degrees Parking Solutions For</h2>
          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/automatic.jpg' %}" alt="" class="img-fluid "></center>
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Office Administration</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">PARK360 Corporate Parking Management allows easy integration with existing security systems and facilitates an online booking system to minimize manual dependencies and resources. With paperless entry/exit using ANPR technology or QR scans, the entire mobility is faster, smarter, and more efficient resulting in higher productivity and efficient management.</p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/automatic1.jpg' %}" alt="" class="img-fluid " style="width: 400px;"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Employees & Visitors</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">By implementing intelligent parking management systems, these solutions provide real-time insights into parking availability, allowing employees and visitors to quickly locate vacant spots. This eliminates the need for time-consuming searches and reduces traffic congestion</p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          
       
          <h2 class="text-center">Advantages of Corporate Parking Solutions</h2>
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                   
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">
                        Benefits for your Business</a>
                    </h2>
      
                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p>
                            No more waiting lists to use the parking facilities.</p>
                            
                           <p> Improve parking space utilization by 30%.</p>
                            
                          <p>  Generate additional revenue by subletting to third-parties</p>
                            
                            <p>Digital billing option to manage Paid Parking Spots.                   
                           </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                  
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Benefits for your Employees</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p>Smart Access Management to reduce wait times at the gate.</p>
                        <p>Offers equal opportunities and delivers fairness via a smart parking system.</p>
                        <p>
                            Online parking slot booking feature to secure parking spots.</p>
                        <p>
                            Employees save time and money with regulated parking space usage.</p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                
                <div class="col-xl-6 col-lg-6 bg-primary">
                  <article>
                    <h1 class="text-center text-light">Efficient Corporate Parking Management for Seamless Mobility</h1>
                   
      
                    <p class="post-category"></p>
      
                    <h2 class="title text-warning">
                      <a href="blog-details.html" class=" text-warning">
                        Experience a new convenience, efficiency, and mobility level with Corporate Parking Solutions by PARK360. Let us simplify your parking management, enabling your workforce to focus on what matters most – driving your business forward.</a>
                    </h2>
                    <img src="{% static 'assets/img/Certificate.jpg' %}" style="height: 100px; width: 100px;">
                    <img src="{% static 'assets/img/Certificate.jpg' %}" style="height: 100px; width: 100px;">

                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author"></p>
                        
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                  
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> For FREE Demo & Enquiry</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                       
                        <p class="post-category">Kindly fill the form below for a Guaranteed Response within 24 Hrs!</p>
                        <label>Name:</label><br>
                        <input type="text" name="Name" placeholder="Enter Name*"><br>
                        <label>Your Email:</label><br>
                        <input type="email" name="email" placeholder="Enter Email*"><br>
                        <label>Your Contact</label><br>
                        <input type="number" name="Contact" placeholder="Enter Contact*"><br>
                        <label>Write Your Massage</label><br>
                       <textarea type="text" placeholder="message"></textarea><br>
                       <button type="submit" class="btn btn-danger">Send Message</button>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                
                <section id="blog" class="blog">

                  <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <h2 class="text-center">Add-ons for Guided parking solutions</h2>
            
                    <div class="row gy-3 posts-list">
            
                      <div class="col-xl-3 col-lg-6">
                      
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam1.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Boom Barrier System
                            </a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                           
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p >
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam2.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">QR/Card Access Control</a>
                          </h2>
            
                          <div class="d-flex align-items-center">               
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p>
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam3.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html"> Pay & Park Solution</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam4.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html"> Parking Slot Booking</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
               
        <div class="pagination d-flex justify-content-center">
          <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div><!-- End pagination -->

      </div>

    </section><!-- End Blog Section -->

  </main>

  {% endblock 'body' %}