{% extends 'base.html' %}
{% load static %}
{% block 'body' %}



  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Mobile Point-of-Sale Parking System ​</h1>
              <p class="mb-0">Manage your parking spaces more efficiently with Smart Pay & Park Solutions. Our Mobile POS Parking System offers a smarter and more reliable way to collect payments, manage spots, and track the entry/exit of vehicles.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% static 'index.html' %}">Solution</a></li>
            <li class="current">ANPR</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/npr1.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">How does Automatic Number Plate Recognition (ANPR) Work?</p>

              <h2 class="title">
                <a href="blog-details.html">Your Parking or general Mobility Experience in day to day life situations is Far from Ideal. We foresee it would only get Worse with the Shrinking Parking Spaces & Ever Growing Number of Vehicles.
                </a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author">Example:</p>
                  <p >
                    Smart Cities, Governments, Corporates, Commercial Complexes(Malls, Hotels, etc.),
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/npr2.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">Smart Number Plate Recognition System</p>

              <h2 class="title">
                <a href="blog-details.html">Smart Number Plate Recognition System It can get hectic to manage entry and exit of cars at huge parking lots or building premises when you have to keep a track of them. A dedicated staff is essential to note down date, time, and number plate. But, that changes with PARK360.</a>
              </h2>

              <div class="d-flex align-items-center">               
                <div class="post-meta">
                  <p class="post-author">Example:</p>
                  <p>
                    Smart and Automatic Number Plate Recognition (ANPR) system 
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/npr3.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">Fully Automated Gate Security</p>

              <h2 class="title">
                <a href="blog-details.html">Our ANPR system not only eliminates the staff dependency but also sets up secure parking management with automated gate system. With Number Plate Recognition System</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">Example</p>
                  <p class="post-date">
                    PARK360's ANPR technology with RFID/UHF or QR-based Entry/Exit system
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <section id="blog" class="blog">

            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <h2 class="text-center">Where to Use?</h2>
      
              <div class="row gy-3 posts-list">
      
                <div class="col-xl-3 col-lg-6">
                
                  <article>
      
                    <div class="post-img">
                      <img src="{% static 'assets/img/hospital.jpg' %}" alt="" class="img-fluid">
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Hospitals
                      </a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                     
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p >
                         
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-3 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <img src="{% static 'assets/img/commercial1.jpg' %}" alt="" class="img-fluid">
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Commercial Firm</a>
                    </h2>
      
                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p>
                         
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-3 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <img src="{% static 'assets/img/parking.jpg' %}" alt="" class="img-fluid">
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Public Parking Lots</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <div class="col-xl-3 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <img src="{% static 'assets/img/hostel1.jpg' %}" alt="" class="img-fluid">
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Hostels</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <section id="blog" class="blog">

                  <div class="container" data-aos="fade-up" data-aos-delay="100">
                     
            
                    <div class="row gy-3 posts-list">
            
                      <div class="col-xl-3 col-lg-6">
                      
                        <article>
            
                          <div class="post-img">
                            <img src="{% static 'assets/img/tourist.jpg' %}" alt="" class="img-fluid">
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Tourist Spots
                            </a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                           
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p >
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <img src="{% static 'assets/img/railwaystation.jpg' %}" alt="" class="img-fluid">
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Railway Stations</a>
                          </h2>
            
                          <div class="d-flex align-items-center">               
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p>
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <img src="{% static 'assets/img/busstation.jpg' %}" alt="" class="img-fluid">
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html"> Bus Stations</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <img src="{% static 'assets/img/metro.jpg' %}" alt="" class="img-fluid">
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html"> Metro Stations</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
               
        <div class="pagination d-flex justify-content-center">
          <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div><!-- End pagination -->

      </div>

    </section><!-- End Blog Section -->
          <h2 class="text-center">Add-ons for ANPR parking system</h2>
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/npr4.jpg' %}" alt="" class="img-fluid">
              </div>
              

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html">Boom Barrier System</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/npr5.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html">QR/Card Access Control</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/npr6.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html">Pay & Park Solution</a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/slot.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html">Parking Slot Booking</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-6 col-lg-6 bg-primary">
            <article>

              <h1 class="text-light">Mobile Point-of-Sale Parking System​</h1>
              

              <p class="post-category"></p>

              <h2 class="title">
                <a href="blog-details.html" class="text-warning">Manage your parking spaces more efficiently with Smart Pay & Park Solutions. Our Mobile POS Parking System offers a smarter and more reliable way to collect payments,</a>
                <img src="{% static 'assets/img/plan-1.jpg' %}">
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-6 col-lg-6">
            <article>
              <h2>For FREE Demo & Enquiry</h2>

              
              
              
              <p class="post-category">Kindly fill the form below for a Guaranteed Response within 24 Hrs!</p>
              <label>Name:</label><br>
              <input type="text" name="Name" placeholder="Enter Name*"><br>
              <label>Your Email:</label><br>
              <input type="email" name="email" placeholder="Enter Email*"><br>
              <label>Your Contact</label><br>
              <input type="number" name="Contact" placeholder="Enter Contact*"><br>
              <label>Write Your Massage</label><br>
             <textarea type="text" placeholder="message"></textarea><br>
             <button type="submit" class="btn btn-danger">Send Message</button>
              <h2 class="title">
                <a href="blog-details.html"></a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
         
          

        </div><!-- End blog posts list -->
        
        

  </main>

  {% endblock 'body' %}