{% extends 'base.html' %}
{% load static %}
{% block 'body' %}




  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>PPL Parking Management Solutions ​</h1>
              <p class="mb-0">
                Experience the convenience of real-time parking availability updates, guiding drivers to vacant parking spaces, and minimizing search time. Our intelligent parking guidance systems, integrated with digital signage and mobile apps, provide a seamless and user-friendly experience for all PPL users.

                Security is our priority. Our solutions easily integrate with robust access control solutions and CCTV surveillance. Combined with ANPR camera technology enables a safe environment for both vehicles and visitors.
                
                Discover the future of parking with our advanced solutions for public parking lots. Enhance user satisfaction, streamline operations, and maximize revenue with our innovative parking management technologies.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% static 'index.html' %}">User Cases</a></li>
            <li class="current">PPLM</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
            <h2 class="text-center">360 Degrees Public Parking Lots Management</h2>

          <div class="col-xl-6 col-lg-6">
            <article>
               

              <div class="post-img">
                
                <center><img src="{% static 'assets/img/automatic.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">PPL Managers
                </a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    PARK360 offers fully automated parking solutions that operate seamlessly and minimize the dependency on human resources. Depending on your specific needs, this is particularly advantageous when aiming for a self-sustained system that functions independently, eliminating the reliance on staff members.
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/automatic1.jpg' %}" alt="" class="img-fluid" style="width: 400px;"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center" >
                <a href="blog-details.html" >PPL Users</a>
              </h2>

              <div class="d-flex align-items-center">               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    By integrating intelligent parking management systems, PARK360 offers immediate access to real-time information on parking availability. PARK360 enables PPL users to simplify the complete process of identifying and securing vacant spots, eliminating the need for lengthy searches and effectively reducing traffic congestion across the PPL.
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

         
          <h2 class="text-center">Features of PARK360 Parking Management Systems</h2>
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/cam1.jpg' %}" alt="" class="img-fluid"></center> 
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Boom Barrier System</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/cam2.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Smart Access Control</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/cam3.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Pay & Park System</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/cam4.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">ANPR Camera Monitoring</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <section id="blog" class="blog">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

              <h2 class="text-center">Advantages & Benefits</h2>
              <p class="text-center">Here are some benefits that PPL get when they adopt PARK360 Parking Management Solutions</p>
      
              <div class="row gy-3 posts-list">
      
                <div class="col-xl-4 col-lg-6">
                
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Real-Time Parking Availability
                      </a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                     
                      <div class="post-meta">
                        <p class="post-author">Avail real-time information on parking space availability, allowing drivers to quickly locate vacant spots and minimize search time.</p>
                        <p >
                         
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Efficient Space Utilization</a>
                    </h2>
      
                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author">PARK360 helps maximize the efficiency of parking lot, ensuring optimal use of resources and reducing congestion.</p>
                        <p>
                         
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Enhanced Security</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">Our Parking Management solutions are designed to automate PPL operations using advanced security measures.</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Online Booking and Reservation</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">Users can conveniently reserve parking spaces in advance through online booking systems or mobile apps</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Parking Guidance Systems</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">Advanced parking guidance systems guide drivers to available parking spaces, enhancing the overall parking experience</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Reporting and Analytics:</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">PARK360 solutions offer comprehensive reporting and analytics tools, enabling the PPL operators to gain insights into parking patterns</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
         
  <div class="pagination d-flex justify-content-center">
    <ul>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
    </ul>
  </div><!-- End pagination -->

</div>

</section><!-- End Blog Section -->

          <div class="col-xl-6 col-lg-6 bg-primary">
            <article>

              <div >
                <h1 class="text-light">Advanced Parking Solutions for Public Parking Lots</h1>
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html"></a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author text-warning">PARK360 brings cutting-edge parking management solutions designed to revolutionize the parking experience for public lots. With our advanced technologies and expertise, PPL can optimize space utilization, enhance security, and improve the overall efficiency of public parking operations.</p>
                  <img src="{% static 'assets/img/plan-1.jpg' %}">
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-6 col-lg-6">
            <article>

              <div >
                <h2>For FREE Demo & Enquiry</h2>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html"></a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <div class="post-meta">
                       
                    <p class="post-category">Kindly fill the form below for a Guaranteed Response within 24 Hrs!</p>
                    <label>Name:</label><br>
                    <input type="text" name="Name" placeholder="Enter Name*"><br>
                    <label>Your Email:</label><br>
                    <input type="email" name="email" placeholder="Enter Email*"><br>
                    <label>Your Contact</label><br>
                    <input type="number" name="Contact" placeholder="Enter Contact*"><br>
                    <label>Write Your Massage</label><br>
                   <textarea type="text" placeholder="message"></textarea><br>
                   <button type="submit" class="btn btn-danger">Send Message</button>
                  </div>
                </div>
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          
          
       
         
                
               

    </section><!-- End Blog Section -->

  </main>

  {% endblock 'body' %}