{% extends 'base.html' %}
{% load static %}
{% block 'body' %}


  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>PARK360: Redefining Parking Management For Public Transit Hubs ​</h1>
              <p class="mb-0">
                At PARK360, we are at the forefront of parking management for public transit systems. With our innovative approach and pioneering solutions, we are redefining the way parking is managed at transit hubs. Our team of experts is dedicated to revolutionizing the parking experience by introducing cutting-edge technologies and forward-thinking strategies.

                Our comprehensive approach goes beyond traditional methods, leveraging advanced technologies and data-driven strategies to optimize parking operations. By reimagining how parking is managed, we enhance efficiency, improve the commuter experience, and create a seamless integration between parking and public transit services
                
                Our Parking Management System deploy advanced technologies such as license plate recognition, digital payment systems, and real-time monitoring to streamline parking processes. Additionally, PARK360 also adopts data-driven strategies to optimize parking space allocation, traffic flow, and enforcement measures.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% static 'index.html' %}">User Cases</a></li>
            <li class="current">PTBM</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
            <h2 class="text-center">PARK360 Parking Management Solutions For</h2>

          <div class="col-xl-6 col-lg-6">
            <article>
               

              <div class="post-img">
                
                <center><img src="{% static 'assets/img/automatic.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="#">Transit Hub Administrators
                </a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    Our Parking Management Systems collect real-time data on parking utilization, occupancy rates, payment trends, and enforcement activities. Administrators can access comprehensive analytics and reports that provide valuable insights into parking patterns and usage. This data-driven approach allows administrators to make informed decisions, optimize resource allocation, and improve parking operations based on actual data and trends.
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/automatic1.jpg' %}" alt="" class="img-fluid" style="width: 400px;"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center" >
                <a href="#" >Visitors</a>
              </h2>

              <div class="d-flex align-items-center">               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    PARK360 Parking Management Systems provide visitors with a convenient and time-saving parking experience. Features such as real-time parking availability updates, mobile apps for reservations and payments, and digital signage for guidance enable visitors to quickly find and secure parking spaces. This eliminates the hassle of searching for parking and reduces time spent in congestion, allowing visitors to reach their destinations more efficiently.
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          
          <h2 class="text-center">Features of PARK360 Parking Management Systems</h2>
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
               <center><img src="{% static 'assets/img/cam1.jpg' %}" alt="" class="img-fluid"></center> 
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="#">Boom Barrier System</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/cam2.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="#">Smart Access Control</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/cam3.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="#">Pay & Park System</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-3 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/cam4.jpg' %}" alt="" class="img-fluid"></center> 
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">ANPR Camera Monitoring</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <section id="blog" class="blog">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

              <h2 class="text-center">PARK360 Parking Management Benefits</h2>
              <p class="text-center">Advanced parking management systems at public transit hubs offer several benefits for both admins/managers and visitors.</p>
      
              <div class="row gy-3 posts-list">
      
                <div class="col-xl-4 col-lg-6">
                
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Convenience and Time Savings
                      </a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                     
                      <div class="post-meta">
                        <p class="post-author">Our parking management systems provide visitors with a convenient and time-saving parking experience.</p>
                        <p >
                         
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Seamless Integration with Public Transit</a>
                    </h2>
      
                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author">Visitors can easily transition from parking to utilizing public transportation services, enhancing the overall experience.</p>
                        <p>
                         
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Improved Security and Safety</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">Our advanced parking management systems incorporate security measures that prioritize visitor safety.</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> User-friendly Experience</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">Smart Parking Management contributes to increased user satisfaction, encouraging more individuals to utilize public transit services.</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Enhanced Revenue Generation</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">Parking management systems enable administrators to implement effective pricing strategies and optimize revenue generation.</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                <div class="col-xl-4 col-lg-6">
                  <article>
      
                    <div class="post-img">
                      <center><img src="{% static 'assets/img/finger.jpg' %}" alt="" class="img-fluid rounded-circle" style="width: auto; height: auto;"></center>
                    </div>
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">Real-time Data and Analytics</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author">Administrators can access comprehensive analytics and reports that provide valuable insights into parking patterns and usage.</p>
                        <p class="post-date">
                          
                        </p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
         
  <div class="pagination d-flex justify-content-center">
    <ul>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
    </ul>
  </div><!-- End pagination -->

</div>

</section><!-- End Blog Section -->

          
          <div class="col-xl-6 col-lg-6 bg-primary">
            <article>

              <div class="post-img">
               <h1 class="text-light">Parking Management for Public Transit Hubs</h1>
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html"></a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author text-warning">At PARK360, we understand the unique parking challenges faced by public transit hubs and have developed intelligent solutions to address them. With our advanced parking management features, we help streamline operations, enhance security, and provide a seamless parking experience for both commuters and transit authorities.</p>
                  <img src="{% static 'assets/img/plan-1.jpg' %}">
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
               
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html"><h2>For FREE Demo & Enquiry</h2></a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                 
                  <div class="post-meta">
                       
                    <p class="post-category">Kindly fill the form below for a Guaranteed Response within 24 Hrs!</p>
                    <label>Name:</label><br>
                    <input type="text" name="Name" placeholder="Enter Name*"><br>
                    <label>Your Email:</label><br>
                    <input type="email" name="email" placeholder="Enter Email*"><br>
                    <label>Your Contact</label><br>
                    <input type="number" name="Contact" placeholder="Enter Contact*"><br>
                    <label>Write Your Massage</label><br>
                   <textarea type="text" placeholder="message"></textarea><br>
                   <button type="submit" class="btn btn-danger">Send Message</button>
                  </div>
                </div>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          
       
         
                
                

    </section><!-- End Blog Section -->

  </main>

  {% endblock 'body' %}