{% extends 'base.html' %}
{% load static %}
{% block 'body' %}

<body>
    <div class="container-fluid bg-light">
        <div class="mt-3 p-2 bg-warning text-black-50 rounded">
            <h1 class="text-center text-dark">Refund Policy</h1> 
           
          </div>
        <h3>Coverage & Scope</h3>
        <p>This Refund Policy covers myCiti 360 Technology Services Pvt. Ltd’s action and approach towards refunds. This Refund Policy does not apply to the practices of companies that myCiti 360 Technology does not own or control or of persons that myCiti 360 Technology does not employ or manage, including any third-party service and/or product providers bound by contract and any third-party websites to which myCiti 360 Technology Services Pvt. Ltd’s websites link.</p>
    </div>
    <div class="container-fluid bg-light">
        <h3>When Do You Qualify For Refunds?</h3>
        <p>
            When you file a complaint to myCiti 360 Technology we first try to provide an ideal solution to the issue you are facing. Your case is first introduced to the technical team and then reported further to the experts’ panel. Refund is only made in extreme circumstances, when nothing else can be done to solve the issue.
        </p>
        <p>
            While planning for refunds we check for the soundness and validity of the case, applying different conditions to it. If these conditions are satisfied, refund may apply*
        </p>
        <p>
            &star;
            Development/Post-sales operations have not yet started
        </p>
        <p>
            &star;
            The issues with the project are beyond the scope of rectification/resolution/fixin
        </p>
        <p>
            &star;You have not violated our payment terms
        </p>
        <p>
            &star;You have not used any information for monetary/business benefits (gained during the course of association)
        </p>
        <p>
            &star;The reasons you made are valid/rational/realistic enough to qualify for refund trial
        </p>
        <p>
            &star;
            Should be able to demonstrate his/her innovative UI design and development skills and understand what makes an app addictive and appealing.
        </p>
        <p>
            &star;
            You have presented all the proofs and evidences surfacing your refund claim
        </p>
        <p>
            &star;
            The claim does not arise from any billing dispute coming from your bank or payment vendor
        </p>
        <p>
            &star;
            Important Note: If any of the points mentioned above is found violated, your claim will be considered void. The decision on refunds is final and irrevocable.
        </p>
    </div>
    <div class="container-fluid bg-light">
        <p>myCiti 360 Technology may at any time, without notice to you and in its sole discretion, amend this policy periodically. You are expected to check the policy from time to time for updates. For more information on our Refund Policy, contact us at info@myciti.in.</p>

    </div>
</body>
</html>
{% endblock 'body' %}