{% extends 'base.html' %}
{% load static %}
{% block 'body' %}

  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Effortless Residential Parking Solutions For A Stress-Free Living Experience ​</h1>
              <p class="mb-0">
                Our solutions include smart parking management systems that utilize real-time data to optimize parking space utilization, ensuring efficient parking allocation and reducing congestion. We also provide online booking and reservation systems, allowing residents to secure parking spots in advance, saving time and effort.

                Our residential parking management solutions incorporate secure access control mechanisms such as automatic number plate recognition (ANPR) and RFID technology, ensuring only authorized vehicles have access to designated parking areas.
                
                Furthermore, our comprehensive parking enforcement tools help maintain order and compliance, preventing unauthorized parking and ensuring a fair parking environment for all residents..
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">User Cases</a></li>
            <li class="current">RPMs</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
            <h2 class="text-center">PARK360 Parking Solutions Guarantees</h2>

          <div class="col-xl-4 col-lg-6">
            <article>
               

              <div class="post-img">
                
                <center><img src="{% static 'assets/img/tear.jpg' %}" alt="" class="img-fluid rounded-circle"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">100% Space Utilization
                </a>
              </h2>

              <div class="d-flex align-items-center">
               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    we optimize parking space utili.zation and maximize the available parking capacity
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/clock.jpg' %}" alt="" class="img-fluid rounded-circle" style="height: 200px;"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center" >
                <a href="blog-details.html" >Improved Traffic Flow</a>
              </h2>

              <div class="d-flex align-items-center">               
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    we simplify and automate entry and exit with paperless technologies at place.
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/gitter.jpg' %}" alt="" class="img-fluid rounded-circle" height="20px"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Reserved Parking</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author"></p>
                  <p class="text-center">
                    our parking solutions facilitate the allocation of parking spaces that benefits all.
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          <h2 class="text-center">360 Degrees Parking Solutions For</h2>
          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/automatic.jpg' %}" alt="" class="img-fluid">
              </div>
              

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Society Administration</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">Our residential parking solutions are designed to automate and streamline parking management processes. Administrators can efficiently allocate parking spaces, manage permits, and enforce parking regulations, saving time and reducing administrative burdens.</p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-6 col-lg-6">
            <article>

              <div class="post-img">
                <center><img src="{% static 'assets/img/automatic1.jpg' %}" alt="" class="img-fluid" style="width: 400px;"></center>
              </div>

              <p class="post-category"></p>

              <h2 class="title text-center">
                <a href="blog-details.html">Residents & Visitors</a>
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">At PARK360, we incorporate advanced security measures and secure access control systems. This helps create a safer environment for residents and their vehicles, reducing the risk of theft or unauthorized access as well as enables quick traffic flow saving a lot of time for the residents..</p>
                  <p class="post-date">
                    <time datetime="2022-01-01"></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          
       
          <h2 class="text-center">Why Choose PARK360?</h2>
          <p class="text-center">An intelligent Commercial Parking Management System offers a range of benefits for both owners and tenants of commercial buildings or properties.</p>
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                   
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html">
                        Benefits for Administrators</a>
                    </h2>
      
                    <div class="d-flex align-items-center">               
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p>
                            
                            Enhanced Space Utilization.</p>
                            
                           <p> Optimal Space Utilization</p>
                            
                          <p>  
                            Improved Traffic Flow</p>
                            
                            <p>Smart Access Control and Improved Security                   
                           </p>
                           <p>Real-time Monitoring and Analytics</p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
      
                <div class="col-xl-6 col-lg-6">
                  <article>
      
                  
      
                    <p class="post-category"></p>
      
                    <h2 class="title">
                      <a href="blog-details.html"> Benefits for Owners & Tenants</a>
                    </h2>
      
                    <div class="d-flex align-items-center">
                      
                      <div class="post-meta">
                        <p class="post-author"></p>
                        <p>
                            Convenient Parking Experience</p>
                        <p>
                            Time and Cost Savings</p>
                        <p>
                           
                            Improved Accessibility.</p>
                        <p>
                            Enhanced Security</p>
                            <p>User Insights and Feedback</p>
                      </div>
                    </div>
      
                  </article>
                </div><!-- End post list item -->
                
                <section id="blog" class="blog">

                  <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <h2 class="text-center">Features of PARK360 Commercial Parking Management</h2>
            
                    <div class="row gy-3 posts-list">
            
                      <div class="col-xl-3 col-lg-6">
                      
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam1.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Boom Barrier System
                            </a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                           
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p >
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam2.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Smart Access Control</a>
                          </h2>
            
                          <div class="d-flex align-items-center">               
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p>
                               
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
            
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam3.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html">Pay & Park System</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
                      <div class="col-xl-3 col-lg-6">
                        <article>
            
                          <div class="post-img">
                            <center><img src="{% static 'assets/img/cam4.jpg' %}" alt="" class="img-fluid"></center>
                          </div>
            
                          <p class="post-category"></p>
            
                          <h2 class="title">
                            <a href="blog-details.html"> ANPR Camera Monitoring</a>
                          </h2>
            
                          <div class="d-flex align-items-center">
                            
                            <div class="post-meta">
                              <p class="post-author"></p>
                              <p class="post-date">
                                
                              </p>
                            </div>
                          </div>
            
                        </article>
                      </div><!-- End post list item -->
               
        <div class="pagination d-flex justify-content-center">
          <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div><!-- End pagination -->

      </div>

    </section><!-- End Blog Section -->

  </main>

  {% block 'body' %}