{% extends 'base.html' %}
{% load static %}
{% block 'body' %}
<body>
    
   
    
    <div class="container-fluid bg-light">
        <div class="mt-3 p-2 bg-warning text-black-50 rounded">
            <h1 class="text-center text-dark">Term condition</h1> 
           
          </div>
    <p>Please read the following Terms and Conditions on the
         PARK360 Website before registering on, accessing, browsing, 
         downloading, or using the PARK360 App / Website located at PARK360.io, 
         and all associated sites linked to PARK360.io, or the Park360 mobile applications 
         on “Google play” / “Apple App Store” or any similar platform hereinafter collectively, the PARK360 Platform run by myCiti 360 Technology Services Pvt. Ltd.,
          having its registered office at 212, A-Block, 5th Floor SNS Interio, Behind CNG Pump, Near Bhatar Char Rasta, Surat – 395017 (hereinafter collectively, myCiti ) on any 
          device and/or before availing any services offered by myCiti on the Park360 Platform (hereinafter individually, and collectively, the PARK360 Services). For the avoidance of doubt,
           it is clarified that these terms and conditions shall
           apply to all PARK360 Services, whether offered by PARK360, myCiti, or its affiliates.</p>
           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">Definition:</h3>
            <p>
                “myCiti”, “PARK360 Platform”, “PARK360 Services, “We” represent the “Service Provider” and are
                 interchangeable. It also represents any subsidiary platform powered by myCiti. “You” addresses the 
                 individual User reading and agreeing to these Terms. “Commercial Complex”, “Residential Units”, 
                 "Corporate Campuses”, “Malls”, “Pay & Park Lots”, “Public Parking Lots”, “Tourist Spots”, or any
                  other registered legal entity will be addressed as Entity from hereon. It can also imply any such
                   Organisation of Users utilising the Products. “Association”, “Society”, and “RWA” are used interchangeably.
                    Subscription Term: Period for which Subscription Payment has been made. The following paragraphs contain further 
                    information about our Terms of Service, Privacy Policy, and Payment Gateway Terms. Please make sure you read through 
                    this carefully. Please proceed with the use of the Products upon agreement with the Terms.
            </p>

           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">Terms of Service:</h3>
            <p>PARK360 provides its service to you, subject to the following Terms of Service (“TOS”), which may be updated by us 
                from time to time with information to you.</p>

           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">Description of Service:</h3>
            <p>PARK360 provides a suite of Products categorised as below. a) The “PARK360 Admin App/Portal” which provides a Central Database of the Entity, 
                integrated with Tools for Vehicle Parking Management, Access Security Management, Gate Security Management, Admission Ticket Management, 
                and Pay & Park Billing Management. b) The “PARK360 App” which is used by each Resident/Employee/Owner/Visitor of the Entity and is a
                 Companion App/Portal to the other products. c) The “PARK360 Staff & Parking Apps” is used by each Staff/Employee of the Entity and is
                  a Companion App/Portal to the other products. All 3 products are integrated with each other. Depending on the access available to You,
                   You may use any or all of these Products.</p>

           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">PARK360 Privacy Policy:</h3>
            <p>
                Personal information about you is subject to our PRIVACY POLICY which is a section in these Terms.
            </p>

           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">User Account, Password and Security:</h3>
            <p>You are responsible for maintaining the confidentiality of the User ID and password you choose when you create your account and are
                 fully responsible for all activities that occur under your account. You agree to immediately notify PARK360 of any unauthorized use of your password.
                 PARK360 will not be liable for any consequence arising from your failure to comply with this Section.</p>

           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">Abuse of Service:</h3>
            <p>You understand that all information (such as data files, written text, audio files, images, or any other media) that you may have access to as part of,
                 or through your use of the Products of PARK360 Platform is the sole responsibility of the person from which such Content originated. PARK360 takes no
                  responsibility for abusive content, and it is the responsibility of the users to regulate such content. PARK360 takes no responsibility for any data 
                  generated within any of its Products and published or distributed outside by the user. PARK360 reserves the right to suspend its service to Users involved in service abuse.</p>

           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">List of Prohibited Items:</h3>
            <p>
                Users are prohibited from aiding in the sale/exchange of any item present in the below list. This is only a partial list and items can be added as and when prohibited by law or 
                brought to the notice of PARK360. Airline tickets that restrict transfer, other unauthorised ticket sale – Alcohol or tobacco products – Blood, bodily fluids or parts – Bulk email or 
                mailing lists that contain names, addresses, phone numbers, or other personal identifying info Burglary tools, including but not limited to lock-picks or motor vehicle keys – Controlled substances or 
                illegal drugs, substances and items used to manufacture controlled substances and drug paraphernalia -Counterfeit currency, coins and stamps, tickets, as well as equipment designed to make them – 
                Counterfeit, replica, or knock-off brand name goods – Coupons or gift cards that restrict transfer, other unauthorised coupons or gift cards – False identification cards, forged certificates – Fireworks, 
                firearms and explosives – Gambling items, including but not limited to lottery tickets – Material that infringes copyright, including but not limited to software or other unauthorised digital goods sale – Pornography – Pet animal parts, blood,
                 or fluids – Prescription drugs and medical devices, including but not limited to prescription or contact lenses, defibrillators, hypodermic needles or hearing aids – Stolen property, or property with serial number removed or altered. 
                 Items can be included in the above list as and when prohibited.
            </p>

           </div>
           <div class="container-fluid bg-light">
            <h3 class="text-primary">No Resale of Service:</h3>
            <p>You agree not to reproduce, duplicate, copy, sell, resell, or exploit for any commercial purposes, any portion of the Products, use of the Products, or access to the Products</p>
           </div>
    
</body>
</html>
{% endblock 'body' %}